<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">PM MOVIE THEATER</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="screening-form">CREATE NEW SCREENING</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="screening-list">SCREENINGS</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="reservation-form">NEW RESERVATION</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="reservation-list">RESERVATIONS</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="movie-summary-list">MOVIE SUMMARY</a>
        </li>

      </ul>
    </div>
  </div >
</nav>
